html{
    background-color: lightgray;
}
.Box1{
    background-color: lightblue;
    height: 200px;
    margin: auto;
    text-align: center;
    border-bottom: 5px solid lightcoral;
}
img{
    float: left;
    height: 200px;
    border-radius: 0 10% 10% 0;
}
h1{
    float: right;
    color: white;
    padding-right: 20px;
    font-size: 80px;
}
.contanier{
    display: flex;
    margin: 0px;
}
.p1{
    background-color: green;
    color: white;
    padding: 40px;
    width: 50%;
    margin: 0px;
    font-size: large;
}
.p2{
    background-color: brown;
    color: white;
    padding: 40px;
    width: 50%;
    margin: 0px;
    font-size: large;
}
.Box2{
    background-color: #d69e2e;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.Box2 p{
    color: white;
    font-weight: bold;
    margin: 10px 0;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
.Footer{
    position: fixed;
    background-color: purple;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
    bottom: 0;
    left:0;
    height: 50px;
    font-size: large;
    padding: 30px;
}